# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Project outputs / generated data
/data/

# Local API/cache data
data/apify_raw_results.json

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
